.nav {
  display: flex;
  height: 45px;
  width: 100%;
  background-color: black;
  color: white;
  gap: 10px;
  padding: 5px;
}

.btn-nav button {
    
    justify-content: center;
  background-color: black;
  color: white;
  border-color: white;
  width:auto;
  height: 30px;
  gap: 10px;
}

div.amount{
    display: flex;
    justify-content: end;
    width:68%; /*devolver a 77%*/
}

.amount button {
  display: flex;
  justify-content:end;
  align-items: center;
  background-color: black;
  color: rgb(0, 238, 255);
  border-color: rgb(0, 238, 255);
}
