.navbar {
  display: flex;
  justify-content: space-between;
  height: 45px;
  width: 100%;
  background-color: black;
  color: white;
  gap: 10px;
  padding: 5px;
}

.navbar-cart {
  display: flex;
  flex-direction: row-reverse;
}

.total-btn {
  border-color: azure;
  background-color: black;
  color: rgb(0, 242, 255);
  height: 38px;
}

.navbarBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  gap: 20px;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.home-btn {
  display: flex;
  align-items: center;
  background-color: #28a745;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  height: 35px;
}

.home-btn:hover {
  background-color: #218838;
}

.contact-btn {
  display: flex;
  align-items: center;
  background-color: #28a745;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  height: 35px;
}

.contact-btn:hover {
  background-color: #218838;
}

.login-btn,
.register-btn,
.profile-btn,
.logout-btn {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.register-btn:hover {
  background-color: #218838;
}

.login-btn:hover {
  background-color: #218838;
}

.profile-btn:hover {
  background-color: #218838;
}

.logout-btn:hover {
  background-color: #218838;
}
