.formulario{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    height: 180px;
    padding: 3px;
    
}

.container-btn{
    display: flex;
    justify-content: center;
    padding-top: 6px;
    
}

.register{

    display: flex;
   justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 3px;
    width: 100px;
    height: 30px;
    
}