* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card-model {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 70px;
  padding-block-start: 30px;
  border: 2px solid rgba(244, 244, 129, 0.766);
  border-radius: 8px;
  width: 27rem;
  height: 600px;
}



#pizzas {
  display: flex;
  justify-content: center;
  width: 399px;
  border: 1px solid;
   border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.pizza-img {
  width: 400px;
  border: 1px solid rgb(122, 124, 48);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  

}

.sabores {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25rem;
  border: 1px solid;
  height: 100px;
  font-size: large;
}

.saboresMap {
  display: flex;
}

.amounts {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid;
  width: 25rem;
  height: 150px;
}

.amounts button {
  display: flex;
}

.prueba {
  display: flex;
  width: 25rem;
  justify-content: space-around;
}

.verMas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 70px;
}

.anadir {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 70px;
  background-color: black;
  color: white;
}

.description{
  display: flex;
  padding-top: 10px;
  text-align: center;
  /* background-color: aqua; */
  
}
