* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.cards{
    padding: 70px;
    padding-block-start: 30px;
    border: 4px solid rgba(244, 244, 129, 0.766);
}

#pizzaNap {
  display: flex;
  width: 400px;
  border: 1px solid;
}

#ppal {
  display: flex;

  justify-content: space-evenly;
  flex-direction: column;
  border: 1px solid rgb(122, 124, 48);
  height: 60%;
}

.cards {
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.sabores p {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  height: 90px;
}

.amounts {
  display: flex;
  justify-content: center;
  border: 1px solid;
  width: 403px;
  height: 100px;
}



.amounts{
    display: flex;
    justify-content:space-around;
    align-items: center;

   
}




.verMas{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 70px;
}

.anadir{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 70px;
    background-color: black;
    color: white;
}






