*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



#pizzaNap{
    display: flex;
    width: 400px;
    border: 1px solid;
}

#ppal {
    display: flex;
    
   justify-content:space-evenly;
    flex-direction: column;
    border: 1px solid;
    height:60%;
    
}

.cards{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    
}


.sabores p{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
   height: 90px;
}

.amounts{
    display: flex;
    justify-content: center;
    border: 1px solid ;
    width: 403px;
    height: 100px;
   
    
}



